@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.mainLeftButtons{
  padding-left: 60%;
  display: grid;
  grid-template-rows: 80% 20%;
}

#formText {
  border: none; 
  outline: none;
  padding: 1.5rem 1rem;
  /* border-bottom: 1px dashed rgb(100 116 139);*/
  background-color: black;
}

#formFiles {
  border: none; 
  outline: none;
  padding: 1rem 0rem;
  padding-bottom: 2rem;
  border-bottom: 1px dashed rgb(100 116 139);
  background-color: black;
}

.buttonContainer{
  display: grid;
  grid-template-columns: 80% 20%;
}

@media (max-width: 1024px) {

  main{
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  .mainLeftButtons{
    display: grid;
    margin-left: auto;
    grid-template-columns: 100%;
  }
}